body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #0F4C8B;
}

.nav {
    background: #0F4C8B;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 5px;
    max-height: auto;
}

.nav a {
    text-decoration: none;
    color: #fff;
}
a {
    text-decoration: none;
}

.item-phone{
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.item-phone a{
    color:#0F4C8B;
    width: 100px;
}
.nav-item{
    
    padding: 10px;
    text-align: center;
}
.nav-item:hover{
    background-color: #4381be;
}

.item-facebook:hover{
    background-color: #4381be;

}
.item-youtube{
    background-color: red;
    font-size: 20px;
    border-radius: 15%;
}
.item-youtube:hover{
    background-color: red;
    font-size: 20px;
    border-radius: 15%;
}
.item-phone:hover{
    background: #fff;
}


.nav-fixed{
    z-index: 3000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
    position: sticky;
    width: 100%;
    top: -1px;
    box-shadow:5px 3px 5px #555;
}
.logo{
    padding-left: 50px;
    text-align: center;

}
.logo img{
    width: 200px;
}
.list{
    display: flex;
   flex-wrap: wrap;
   font-size: 12px;
   color: #000;
   align-content: center;
   justify-content: space-evenly;
}
.list li a{
   color: #000;
}
.sublist  {
    display: none;
    position: absolute;
    top: 49px;
    color: #000;
    padding: 5px 0px 5px 5px;
    margin: 0;
    background: linear-gradient(to top,rgb(231, 225, 225), #fff);
    border-radius: 5%;
}
li{
    list-style: none;
    margin: 0 3px;
}
.menu{
    flex: 2;
}
.desplegar{
    display: none;
}
.list__li{
    cursor: pointer;
}
.desplegar:focus ~ .menu-responsive {
    display: block;
   
}
.menu-responsive{
    position: absolute;
    background: white;
    top: 80px;
    height: 100vh;
    display: none;
    box-shadow: 0px 5px 5px black;
}
.list-responsive{
    margin-left: -21px;
}
.menu-responsive .list-responsive .list__li-responsive{
    background:crimson;
    width: 88%;
    padding: 6px ;
    text-align: center;
    margin: 10px 0;
    border-radius: 6%;
    box-shadow: 2px 5px 10px black;
    color: white;
}
.menu-responsive .list-responsive .list__li-responsive:hover{
    background:#4381be;
    width: 88%;
    padding: 6px ;
    text-align: center;
    margin: 10px 0;
    border-radius: 6%;
    box-shadow: 2px 5px 10px black;
    color: white;
}
.sublist-responsive{
    display: none;
}
.menu-responsive .list-responsive .list__li-responsive a{
    color: white;
}
#loadImg {
    display: grid;
grid-template-columns: auto auto;
}
.modal{
    display: none;
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 5000;  
  }
  .modal-contenido{
    background-color:aqua;
    width:80%;
    padding: 10px 20px;
    margin: 10% auto;
    position: relative;
    display: grid; 
    grid-template-columns: 50% 50%;
  }
  .modal-contenido img {
      width: 100%;
  }
  .content-img {
      margin-left: 5px;
      
  }
.content-right{
    background: #021e45;

}
.logo-modal {
    width: 50%;
}

.info-fixed {
    cursor: pointer;
    background: #48ca58;
    color: #fff;
    position: fixed;
    top: 668px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 14px;
    text-align: center;
    border-radius: 13%;
    width: 16%;
}
.info-fixed h1 {
    background-color: #fff;
    color: #48ca58;
    margin: auto;
    padding: 12px 0;
    width: 101%;
    border-radius: 51%;
}

.section-one, .section-two {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px 100px;
    height: 500px;
    background: linear-gradient(to bottom, #69b4d8, rgb(95, 226, 238));
    text-align: center;
    transition: all 1s;
}
.section-one:hover {
    border-top-right-radius:100%;
}
.title-section-one{
    background-color: #021e45;
    padding: 10px 0;
    color: white;
    position: absolute;
    width: 100%;
    order: 0;
    z-index: -1;
}
.right-section{
    background: #0F4C8B;
    position: absolute;
    width: 44.7%;
    margin-right: 100px;
    right: 0;
    order: 10;
}
.description-section-one{
    position: absolute;
    order: 20;
    padding: 50px;
    top: 100px;
    width: 50%;
   right: 0;
   left: 20%;
   border-radius: 50%;
    background: #fff;
}
@media screen and (max-width :1039px){
    .item-text {
        display: none;
    }
    .logo{
      
        flex-grow: 1;
    }
    .menu, .menu-responsive{
        display: none;
    }
    .desplegar{
        display: block;
      
        margin-right: 15px;
        border: none;
        background: #fff;
    }
    .desplegar:hover{
        display: block;
        outline: #fff;
        margin-right: 15px;
        border: none;
        color: crimson;
        background: #fff;
    }
    .section-one {
        display: grid;
        grid-template-columns: 100%;
        margin: 5px;
        height: 480px;
        background: linear-gradient(to bottom, #69b4d8, rgb(95, 226, 238));
        text-align: center;
        transition: all 1s;
    }
    .section-two {
        display: grid;
        grid-template-columns: 100%;
        margin: 5px;
        height: 300px;
        background: linear-gradient(to bottom, white, rgb(95, 226, 238));
        text-align: center;
        transition: all 1s;
    }
    .right-section{
        display: none;
    }
    .info-fixed{
       display: none;
    }
    .left-section {
        position: relative;
        overflow: scroll;
        padding: 6px;
    }
    .title-section-two {
        color: #e63136;
        border-top: 1px solid #dcb36f;
        border-bottom: 1px solid #dcb36f;
    }
    .description-section-two {
        line-height: 30px;

    }
}

@media screen and (max-width :500px){
    .item-text {
        display: none;
    }
    .logo{
      
        flex-grow: 1;
    }
    .menu{
        display: none;
    }
    .desplegar{
        display: block;
      
        margin-right: 15px;
        border: none;
        background: #fff;
    }
    .desplegar:hover{
        display: block;
        outline: #fff;
        margin-right: 15px;
        border: none;
        color: crimson;
        background: #fff;
    }
    .section-one {
        display: grid;
        grid-template-columns: 100%;
        margin: 5px;
        height: 200px;
        background: linear-gradient(to bottom, #69b4d8, rgb(95, 226, 238));
        text-align: center;
        transition: all 1s;
    }
    .section-two {
        display: grid;
        grid-template-columns: 100%;
        margin: 5px;
        height: 300px;
        background: linear-gradient(to bottom, white, rgb(95, 226, 238));
        text-align: center;
        transition: all 1s;
    }
    .right-section{
        display: none;
    }
    .info-fixed{
       display: none;
    }
    .left-section {
        position: relative;
        overflow: scroll;
        padding: 6px;
    }
    .title-section-two {
        color: #e63136;
        border-top: 1px solid #dcb36f;
        border-bottom: 1px solid #dcb36f;
    }
    .description-section-two {
        line-height: 30px;

    }
}